     <p><%= @book.title %></p>
      <span class="innner">
        <%= image_tag @book.image, class: 'book-image' if @book.image.attached? %>
        <%= @book.genre.name %>
        <%= @book.content %>
          <% if user_signed_in? && current_user.id == @book.user_id %>
            <div class="more">
              <ul class="more_list">
                <li>
                  <%= link_to '編集', edit_book_path(@book.id), method: :get %>
                </li>            
                <li>
                  <%= link_to '削除',  book_path(@book.id), method: :delete %>
                </li>
              </ul>
            </div>
          <% end %>
      </span>
    </div>